<ion-footer class="footer">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="social-icons" justify-content-center>
        <ion-col size="auto">
          <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
        </ion-col>
        <ion-col size="auto">
          <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
        </ion-col>
        <ion-col size="auto">
          <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
        </ion-col>
        <ion-col size="auto">
          <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
        </ion-col>
        <ion-col size="auto">
          <a href="#"><ion-icon name="logo-tiktok"></ion-icon></a>
        </ion-col>
      </ion-row>
      <ion-row class="footer-columns">
        <ion-col size="12" size-md="3" class="footer-column">
          <h3>Explora</h3>
          <ion-list lines="none">
            <ion-item><a href="src/blog.html">Blog de recetas</a></ion-item>
            <ion-item><a href="src/weekly-planner.html">Planificador semanal</a></ion-item>
            <ion-item><a href="#">Recetas populares</a></ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" size-md="3" class="footer-column">
          <h3>Categorías</h3>
          <ion-list lines="none">
            <ion-item><a href="#">Vegetarianas</a></ion-item>
            <ion-item><a href="#">Postres</a></ion-item>
            <ion-item><a href="#">Platos principales</a></ion-item>
            <ion-item><a href="#">Cocina internacional</a></ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" size-md="3" class="footer-column">
          <h3>Comunidad</h3>
          <ion-list lines="none">
            <ion-item><a href="#">Chefs destacados</a></ion-item>
            <ion-item><a href="#">Eventos culinarios</a></ion-item>
            <ion-item><a href="#">Programa de afiliados</a></ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" size-md="3" class="footer-column">
          <h3>Ayuda</h3>
          <ion-list lines="none">
            <ion-item><a href="#">Centro de ayuda</a></ion-item>
            <ion-item><a href="#">Contacto</a></ion-item>
            <ion-item><a href="#">Política de privacidad</a></ion-item>
            <ion-item><a href="#">Términos de uso</a></ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row class="footer-bottom">
        <ion-col>
          <p>&copy; 2025 MealMates. Todos los derechos reservados.</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>