<main class="recipes-container">
    <div class="title-header">
        <h1>Mis Recetas</h1>
    </div>
    <div class="tab">
        <button class="tablink" [class.active]="activeTab === 'created'" (click)="changeTab('created')">Mis recetas</button>
        <button class="tablink" [class.active]="activeTab === 'saved'" (click)="changeTab('saved')">Recetas guardadas</button>
    </div>

    @if(isCreated){
        <div class="tab-content" [class.active]="activeTab === 'created'">
            <app-recipes-list [recipeType]="1"/>
            <a routerLink="/recipe-generator" class="add-recipe-btn">
                <i class="fas fa-plus"></i> Nueva Receta
            </a>
        </div>
    } @else {
        <div class="tab-content" [class.active]="activeTab === 'saved'">
            <app-recipes-list [recipeType]="2"/>
        </div>
    }
    
    
</main>