<ion-content class="recipes-container">
  <ion-header class="title-header" collapse="condense">
    <ion-toolbar>
      <ion-title>Mis Recetas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-segment [(ngModel)]="activeTab" class="recipes-segment" value="created">
    <ion-segment-button value="created">
      Mis recetas
    </ion-segment-button>
    <ion-segment-button value="saved">
      Recetas guardadas
    </ion-segment-button>
  </ion-segment>

  <div class="tab-content" *ngIf="activeTab === 'created'">
    <app-recipes-list [recipeType]="1"></app-recipes-list>
    <ion-button
      class="add-recipe-btn"
      color="primary"
      expand="block"
      routerLink="/recipe-generator"
    >
      <ion-icon name="add-outline" slot="start"></ion-icon>
      Nueva Receta
    </ion-button>
  </div>
  <div class="tab-content" *ngIf="activeTab === 'saved'">
    <app-recipes-list [recipeType]="2"></app-recipes-list>
  </div>
</ion-content>