<ion-header class="header">
  <ion-toolbar>
    <ion-title>
      <a routerLink="/" class="brand-link">
        MealMates
      </a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/blog">Blog</ion-button>
      <ng-container *ngIf="user">
        <ion-button routerLink="/my-recipes">Mis recetas</ion-button>
        <ion-button routerLink="/weekly-planner">Menú Semanal</ion-button>
      </ng-container>
      <ion-menu-button autoHide="false"></ion-menu-button>
      <ion-button id="user-menu-trigger" fill="clear">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-popover trigger="user-menu-trigger" triggerAction="click" [showBackdrop]="true">
  <ng-template>
    <ion-list>
      <ng-container *ngIf="user; else guestMenu">
        <ion-item routerLink="/profile">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          {{ user.email }}
        </ion-item>
        <ion-item routerLink="/weekly-planner">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          Planificador
        </ion-item>
        <ion-item (click)="logout()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Cerrar sesión
        </ion-item>
      </ng-container>
      <ng-template #guestMenu>
        <ion-item routerLink="/login">
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          Iniciar sesión
        </ion-item>
        <ion-item routerLink="/register">
          <ion-icon name="person-add-outline" slot="start"></ion-icon>
          Registrarse
        </ion-item>
      </ng-template>
    </ion-list>
  </ng-template>
</ion-popover>
