/* Sidebar Styles */
.categories-sidebar {
    flex: 0 0 250px;
    background: var(--white);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    height: fit-content;
    max-width: 400px;
}

.categories-sidebar h2 {
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}

.category-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.category-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .categories-sidebar {
        flex: none;
        width: 100%;
    }
} 