<main class="login-container">
    <div class="login-card">
        <div class="login-header">
            <h2>¿Olvidaste tu contraseña?</h2>
            <p>Introduzca tu correo con el que creó la cuenta para así mandarle la recuperación de contraseña</p>
        </div>
        
        <form class="login-form">
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input-with-icon">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="email" placeholder="tu@email.com" required>
                </div>
            </div>

            <button type="submit" class="login-button">Recuperar contraseña</button>

        </form>

        <div class="register-link">
            ¿No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a>
        </div>
    </div>
</main>