<ion-card class="days-grid">
  <ion-card-header>
    <ion-card-title>Plan semanal</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let day of ['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']">
          <ion-card class="day-cell">
            <ion-card-header>
              <ion-card-title>{{ day }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>Agrega tu receta aquí</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
