<main class="planner-container">
    <section class="filters-section">
        <h2>Filtros</h2>
        <div class="filters-grid">
            <div class="filter-group">
                <label>Tipo de dieta</label>
                <select name="diet-type">
                    <option value="">Todas</option>
                    <option value="vegetariana">Vegetariana</option>
                    <option value="vegana">Vegana</option>
                    <option value="sin gluten">Sin gluten</option>
                </select>
            </div>
            <div class="filter-group">
                <label>Tiempo de preparación</label>
                <select name="prep-time">
                    <option value="">Cualquiera</option>
                    <option value="15">15 minutos</option>
                    <option value="30">30 minutos</option>
                    <option value="60">1 hora</option>
                </select>
            </div>
            <div class="filter-group">
                <label>Dificultad</label>
                <select name="difficulty">
                    <option value="">Todas</option>
                    <option value="fácil">Fácil</option>
                    <option value="medio">Media</option>
                    <option value="difícil">Difícil</option>
                </select>
            </div>
        </div>
    </section>

    <section class="weekly-menu">
        <div class="days-grid">
            @for (day of weeklyPlan; track day){
                <div class="day-card">
                    <h3>{{day}}</h3> 
                </div>
            }
            
        </div>
        <app-recipes-list [recipeType]="3"/>
        <a class="generate-button">Generar receta</a>
    </section>
</main>