<div class="recipes-list">
    <ng-container *ngFor="let recipe of recipes; trackBy: trackRecipe">
      <ng-container *ngIf="recipeType === 1 && recipe.option === 'created'">
        <app-recipe-card-created [recipe]="recipe"></app-recipe-card-created>
      </ng-container>
      <ng-container *ngIf="recipeType === 2 && recipe.option === 'saved'">
        <app-recipe-card-saved [recipe]="recipe"></app-recipe-card-saved>
      </ng-container>
      <ng-container *ngIf="recipeType === 3">
        <app-recipe-card-default [recipe]="recipe"></app-recipe-card-default>
      </ng-container>
    </ng-container>
  </div>
  