<main class="blog-container">
    <app-categories/>
    <section class="blog-content">
        <h2>Recetas de esta categoría</h2>
        <div class="recipe-grid">
            <app-blog-recipes-list/>
        </div>
        <div class="pagination">
            <button class="page-item active">1</button>
            <button class="page-item">2</button>
            <button class="page-item">3</button>
            <span class="page-dots">...</span>
            <button class="page-item">67</button>
            <button class="page-item">68</button>
        </div>
    </section>
</main>