/* Hero Section */
.hero {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--secondary-color);
}

.blog-recipes-list {
    display: grid;
    padding: 1rem;
    margin: 0 auto;
}
