<ion-card class="recipe-card saved">
  <div class="recipe-image">
    <ion-img [src]="recipe.image" [alt]="recipe.alt"></ion-img>
    <div class="recipe-actions">
      <ion-button fill="clear" class="bookmark-btn" size="small">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>
    </div>
  </div>
  <ion-card-content class="recipe-content">
    <ion-card-title>{{ recipe.title }}</ion-card-title>
    <div class="recipe-info">
      <ion-icon name="time-outline"></ion-icon>
      <span>{{ recipe.time }}</span>
      <ion-icon name="barbell-outline"></ion-icon>
      <span>{{ recipe.difficulty }}</span>
    </div>
    <div class="recipe-categories">
      <ion-chip *ngFor="let cat of recipe.categories; trackBy: trackByCategory">
        {{ cat }}
      </ion-chip>
    </div>
    <ion-button expand="block" class="recipe-button" [routerLink]="'/recipe'">Ver receta</ion-button>
  </ion-card-content>
</ion-card>
